*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.center .space{
    margin: 0%;
    height: 10px;
    width: 200px;
    border: 1px solid gray;
    overflow: hidden;
    border-radius: 50px;
}
.space .progress{
    transition: all ease cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: rgb(63, 181, 63);
    height: 100%;
    width: 0%;
    border-radius: 50px;
}
.center h5{
    margin: 0%;
    opacity: 0;
}